#soil-monitoring
{
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px 50px;
	display: flex;
}

#button
{
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px 50px;
}

.aligncenter
{
  display: flex;
  align-items: center;
  text-align: center;
	justify-content: center;
  margin: 0;
}
